In [8]:
import pandas as pd

df = pd.read_csv('item_metadata.csv')

In [11]:
df.head()

   item_id                                         properties
0     5101  Satellite TV|Golf Course|Airport Shuttle|Cosme...
1     5416  Satellite TV|Cosmetic Mirror|Safe (Hotel)|Tele...
2     5834  Satellite TV|Cosmetic Mirror|Safe (Hotel)|Tele...
3     5910  Satellite TV|Sailing|Cosmetic Mirror|Telephone...
4     6066  Satellite TV|Sailing|Diving|Cosmetic Mirror|Sa...